body {
	background-image: url("img/brandon_sf_backdrop.jpg");
}

html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.name {
	font-family: 'Roboto', sans-serif;
}

.tagline {
	font-family: 'Open Sans', sans-serif;
}

.links {
	font-family: 'Open Sans', sans-serif;
}

.about_title {
  display: flex;
  align-items: left;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.about_info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  margin: 0px;
  padding: 0px;
}